@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary-purple: #7d5ba6;
	--white: #f4f3ee;
	--black: #000000;
	--secondary-green: #53ff45;
	--secondary-pink: #f56476;

	background-color: var(--white);
	color: var(--black);
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
}
